.box {
    width: 200px;
    height: 200px;
    position: absolute;
    padding: 10px;
    color: white;
    text-align: center;
    line-height: 200px;
}

.red {
    background-color: red;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.blue {
    background-color: blue;
    top: 100px;
    left: 100px;
    z-index: 2;
}

.green {
    background-color: green;
    top: 150px;
    left: 150px;
    z-index: 3;
}